@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/22 */
/* 最終更新日：2022/09/27 */

body, h1, h2, h3, h4, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, YuMincho, 'Yu Mincho', sans-serif;
    font-size: 16px;
    background-color: #ededed;
    color: #444;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 15px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, .7);
}

header h1 {
    background: url(../../../img/gray.png) no-repeat;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    text-shadow: 1px 1px #999;
}

header a {
    line-height: 60px;
    text-align: center;
    color: #fff;
}

nav ul {
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin: 20px 0;
}

nav li {
    width: 20%;
    border: 1px solid #444;
    border-right: none;
}

nav li:last-of-type {
    border-right: 1px solid #444;
}

nav li a {
    color: #444;
    transition: all .3s ease;
}

nav li a:hover {
    color: #fff;
    background-color: #444;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
    appearance: none;
    vertical-align: middle;
    border: 0;
    background: transparent;
    outline: 0;
    border-radius: 0;
    text-align: inherit;
    font-family: 'Yu Mincho', serif;
    /* ボタンの配置位置  */
    position: fixed;
    top: 15px;
    right: 10px;
    /* ボタンの大きさ  */
    width: 50px;
    height: 30px;
    /* バーガーの線をボタン範囲の中心に配置 */
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 110;
}

.btn:hover {
    cursor: pointer;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
    /* 線の長さと高さ */
    width: 100%;
    height: 3px;
    /* バーガー線の色 */
    background-color: #666;
    /* バーガー線の位置基準として設定 */
    position: relative;
    transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
    /* 基準線と同じ大きさと色 */
    position: absolute;
    transition: .5s;
}

.btn-line::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #666;
    /* 上の線の位置 */
    transform: translateY(-10px);
}

.btn-line::after {
    content: "menu";
    /* 下の線の位置 */
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(3px);
    color: #333;
}

/***** メニューオープン時 *****/
.btn-line.open {
    transition: .5s;
}

.btn-line.open::before {
    content: "";
    transform: translateY(0);
}

.btn-line.open::after {
    content: "close";
}

nav.open {
    display: block;
    animation: fade-in .5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* ここまでハンバーガーメニュー */

footer {
    background-color: #444;
}

footer p {
    color: #fff;
    line-height: 30px;
    text-align: right;
    margin-right: 40px;
    font-size: 14px;
    text-shadow: 1px 1px #999;
}

@media screen and (max-width: 960px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
    }

    nav ul.flex {
        display: block;
        position: fixed;
        top: 90px;
        background: rgba(255, 255, 255, .7);
        margin: 0;
        line-height: 75px;
    }

    nav li {
        width: 100%;
        border: none;
    }

    .btn {
        display: flex;
    }
}