@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/20 */
/* 最終更新日：2022/09/27 */

.main_visual {
    margin-top: 80px;
    height: 350px;
    background: url(../../img/skyblue.png) center center / cover no-repeat;
}

.main_visual p {
    line-height: 350px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #999;
}

main.inner {
    margin: 40px auto;
}

main article {
    width: 640px;
    padding: 60px 65px;
    box-sizing: border-box;
    background-color: #fff;
}

article h2 {
    text-align: center;
    margin-bottom: 35px;
}

article p {
    margin-bottom: 1.5em;
    text-indent: 1em;
}

article figure img {
    width: 100%;
    height: 340px;
}


main aside {
    width: 300px;
    background-color: #fff;
    padding: 30px 35px;
    box-sizing: border-box;
}

aside section:first-of-type {
    margin-bottom: 30px;
}

aside h3 {
    text-align: center;
    margin-bottom: 20px;
}

aside p:first-of-type {
    margin-bottom: 1em;
}

aside p:nth-of-type(2),
aside p:last-of-type {
    width: 100%;
    height: 130px;
    background: url(../../img/skyblue.png) center center / cover no-repeat;
    margin-bottom: 1em;
}

aside p:nth-of-type(2) a,
aside p:last-of-type a {
    color: #fff;
    text-shadow: 1px 1px #999;
    text-align: center;
    line-height: 130px;
}

aside ul {
    line-height: 21px;
    margin-bottom: 30px;
}

aside ul li {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

aside ul a::before {
    content: "";
    display: inline-block;
    background: url(../../img/skyblue.png) center center / cover no-repeat;
    width: 13px;
    height: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

aside li a {
    color: #666;
    opacity: .8;
    transition: all .3s ease;
}

aside li a:hover {
    opacity: 1;
}

h4 {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: #fff;
}

thead {
    background: #ccc;
}

th {
    padding: 5px 0;
    border: 1px solid #fff;
}

th:first-of-type {
    background: #f2b1b1;
}

th:last-of-type {
    background: #9cdfef;
}

tbody {
    background: #ddd;
}

td {
    padding: 5px 0;
    border: 1px solid #fff;
}

@media screen and (max-width: 960px) {
    .main_visual {
        margin-top: 80px;
        height: 300px;
    }

    .main_visual p {
        line-height: 300px;
    }

    main article {
        width: 100%;
        margin-bottom: 50px;
    }

    article figure img {
        max-width: 510px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    main aside {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    aside section {
        width: 45%;
        box-shadow: 0 0 5px #eee;
        padding: 20px 0;
    }

    aside p {
        width: 100%;
        max-width: 230px;
        margin: 0 auto;
    }

    aside p:first-of-type {
        max-width: 100%;
    }

    aside p:first-of-type,
    aside ul {
        padding: 0 20px;
        box-sizing: border-box;
    }

    aside table {
        max-width: 230px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .main_visual {
        height: 250px;
    }

    .main_visual p {
        line-height: 250px;
    }

    main.inner {
        margin: 20px 0;
    }

    main article {
        padding: 30px;
        margin-bottom: 30px;
    }

    main aside {
        display: block;
    }

    aside section {
        width: 100%;
    }
}