@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/30 */
/* 最終更新日：2022/10/15 */
main {
    margin-bottom: 150px;
}

figure {
    width: 760px;
    margin: 0 auto 50px;
    position: relative;
}

figure img {
    width: 760px;
    height: 280px;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #999;
    word-wrap: break-word;
}

@media screen and (max-width: 1100px) {
    main {
        margin-bottom: 100px;
    }

    figure {
        width: 100%;
        max-width: 760px;
    }

    figure img {
        width: 100%;
        max-width: 760px;
        max-height: 280px;
        height: auto;
        aspect-ratio: 27/10;
    }

    figcaption {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-bottom: 50px;
    }
}