body {
    font-size: 1.6rem;
    color: $fc_body;
}

.header {
    width: 960px;
    display: flex;
    padding: 0 4%;
    margin: 0 auto;
    justify-content: space-between;

    &__header-logo {
        padding: 10px 0;

        &__link {

            &__img {
                width: 120px;
            }
        }
    }

    &__nav-list {
        display: flex;
        padding: 10px 0;
        margin-top: 10px;
        
        &__item {
            margin-left: 30px;

            &__link {
                font-size: 1.44rem;
                color: $fc_nav-list;
            }
        }
    }
}

.main_visual {
    margin-bottom: 80px;

    &__img {
        width: 100%;
        max-width: 1920px;
        height: 600px;
        object-fit: cover;
    }
}

main {
    > section {
        max-width: 960px;
        margin: 10px auto 100px auto;
        padding: 5px 4% 0;
        text-align: center;

        h2 {
            font-size: 3.2rem;
            margin-bottom: 60px;
            border-bottom: solid 1px #383e45;
            display: inline-block;
        }

        .about {
            display: flex;
            justify-content: center;

            &__img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 30px;
            }

            &__section {
                text-align: left;

                &__heading {
                    font-size: 1.6rem;
                    margin: 10px 0;
                }

                &__text {
                    font-size: 1.44rem;
                }
            }
        }

        .bicycles {
            display: flex;
            justify-content: space-between;
            
            section {
                width: 32%;

                img {
                    max-width: 100%;
                }

                h3 {
                    font-size: 1.6rem;
                    margin: 15px 0 10px;
                }

                p {
                    font-size: 1.44rem;
                }
            }
        }
    } 
}

footer {
    p {
        text-align: center;

        small {
            font-size: 1rem;
        }
    }
}