@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/22 */
/* 最終更新日：2022/09/27 */

main > div:first-of-type {
    padding: 60px 0;
    margin-top: 100px;
}

main > div:first-of-type section {
    width: 600px;
}

main > div:first-of-type figure {
    width: 300px;
}

main > div:first-of-type img {
    width: 300px;
    height: 240px;
    margin-top: 30px;
}

p.catch {
    font-size: 40px;
    color: #605d1d;
    margin-bottom: 20px;
}

main > div:first-of-type p.text {
    width: 540px;
    margin-bottom: 10px;
}

.button {
    background: url(../../img/skyblue.png) no-repeat;
    text-align: center;
    border-radius: 5px;
}

.button a {
    line-height: 50px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

.button.about {
    width: 540px;
    height: 50px;
}

article.menu {
    background: #f7f4dd;
    padding: 40px 0 70px;
}

.cuisine {
    width: 220px;
}

h2 {
    font-size: 40px;
    border-left: 10px solid #e6de99;
    padding-left: 20px;
    font-weight: normal;
    width: 730px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 25px;
    line-height: 40px;
}

.button.menu {
    width: 220px;
    height: 50px;
    display: inline-block;
    vertical-align: text-bottom;
}

.button.access a {
    line-height: 35px;
}

article.menu h3 {
    margin-bottom: 10px;
}

article.menu h3::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #605d1d;
    border-radius: 50%;
    margin-right: 5px;
}

.cuisine img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 10px;
}

main > div:last-of-type {
    padding: 45px 0 25px;
}

h4 {
    font-size: 28px;
    font-weight: normal;
    color: #605d1d;
    border-left: 8px solid #e6de99;
    margin-bottom: 15px;
    padding-left: 15px;
    line-height: 30px;
}

main > div:last-of-type section {
    width: 460px;
}

.news dl.flex {
    width: 100%;
    line-height: 35px;
    flex-wrap: wrap;
}

.news dt {
    width: 30%;
}

.news dt::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #605d1d;
    border-radius: 50%;
    margin-right: 5px;
}

.news dd {
    width: 70%;
}

.sns ul.flex {
    flex-wrap: wrap;
}

.sns li {
    width: 220px;
    height: 60px;
    background: url(../../img/skyblue.png) no-repeat;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.sns li a {
    color: #fff;
    line-height: 60px;
    text-shadow: 1px 1px #999;
}

@media screen and (max-width: 960px) {
    main > div:first-of-type {
        display: block;
        text-align: center;
        margin-top: 80px;
    }

    main > div:first-of-type p.text {
        width: 100%;
    }

    .button.about {
        width: 90%;
        margin: 0 auto;
        max-width: 600px;
    }

    h2 {
        width: 100%;
    }

    main > div:first-of-type figure {
        margin: 0 auto;
    }

    article.menu {
        padding-bottom: 40px;
    }

    .menu .contents.flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .button.menu {
        width: 90%;
        margin: 0 auto;
        display: block;
        max-width: 600px;
    }

    .cuisine {
        margin-top: 30px;
    }

    main > div:last-of-type {
        display: block;
    }

    main > div:last-of-type section {
        width: 100%;
        margin-bottom: 40px;
    }

    main > div:last-of-type section.sns {
        margin-bottom: 0;
    }

    .news dl.flex {
        width: 90%;
        margin-left: 50px;
    }

    .sns ul.flex {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .news dl.flex {
        display: block;
        margin-left: 30px;
    }

    .news dt,
    .news dd {
        width: 100%;
    }

    .news dd {
        margin-bottom: 10px;
        margin-left: 20px;
    }
}