.l-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 8px 0px rgba($color: #000000, $alpha: .1);
    position: fixed;
    width: 100%;
    @include z-index(header);
    background: $bgColor;

    &-logo {
        background: url(/fat/works/img/white_gray.png) center center / cover no-repeat;
        width: 378px;
        height: 43px;
        margin: 30px 0 13px {
            left: 25px;
        };

        &__link {
            line-height: 43px;
            text-align: center;
            font-size: 1.6rem;
            color: #fff;
            text-shadow: 1px 1px #999;
            font-weight: bold;
            transition: all .3s ease;

            &:hover {
                opacity: .7;
            }
        }
    }

    &-right {
        display: flex;

        &__list {
            display: flex;
            border-right: 1px solid #e6e6e6;
        }

        &__item {
            border-left: 1px solid #e6e6e6;

            &:hover {
                opacity: .7;
                background: rgba($color: #edf7f6, $alpha: .8);
            }
        }

        &__link {
            width: 75px;
            padding: 16px 0;
            text-align: center;
            color: #222;
            font-size: 1.2rem;
        }

        &__img {
            width: 32px;
            height: 32px;
            margin: 0 auto 10px;
        }

        &__count {
            position: relative;

            @include sp {
                width: fit-content;
                margin: 0 auto;
            }

            &::after {
                content: "0";
                position: absolute;
                top: -5px;
                right: 10px;
                width: 20px;
                height: 20px;
                padding: 3px;
                border-radius: 50%;
                background: #E56A54;
                color: #fff;

                @include sp {
                    right: -10px;
                }
            }
        }
    }
}