@charset 'utf-8';

// marginを使う場合: コメントアウト
// $spaceClass: false;

$spaceClass: true !default;
$marginEndValue: 100 !default;
$marginDirection: (top mt)(right mr)(bottom mb)(left ml);

@if $spaceClass {
	@each $direction in $marginDirection {
		@for $i from 0 through $marginEndValue {
			.u-#{nth($direction, 2)}#{$i * 5} {
				margin-#{nth($direction, 1)}: #{$i * 5}px !important;

				&--pc {
					@include pc {
						margin-#{nth($direction, 1)}: #{$i * 5}px !important;
					}
				}

				&--sp {
					@include sp {
						margin-#{nth($direction, 1)}: #{$i * 5}px !important;
					}
				}
			}
		}
	}
}

/* ==========================================================================
1行下に余白
============================================================================*/
.u-mb-1em{
  margin-bottom:1em;
}
.u-ml-1em{
  margin-left:1em;
}
/* ==========================================================================
 余白ゼロ
============================================================================*/
.u-mb-0{
  margin-bottom: 0 !important;
}

/************************************
padding調整
************************************/	
// paddingを使う場合: コメントアウト
$spacePadding: false;

$spacePadding: true !default;
$paddingEndValue: 50 !default;
$paddingDirection: (top pt)(right pr)(bottom pb)(left pl);

@if $spacePadding {
	@each $direction in $paddingDirection{
		@for $i from 0 through $paddingEndValue {
			.u-#{nth($direction, 2)}#{$i * 5} {
				padding-#{nth($direction, 1)}: #{$i * 5}px !important;
	
				&--pc {
					@include pc {
						padding-#{nth($direction, 1)}: #{$i * 5}px !important;
					}
				}
	
				&--sp {
					@include sp {
						padding-#{nth($direction, 1)}: #{$i * 5}px !important;
					}
				}
			}
		}
	}
}