@charset 'utf-8';

$spaceClass: false;
$spacePadding: false;

$spaceClass: true !default;
$marginEndValue: 100 !default;
$listDirection: (top mt)(right mr)(bottom mb)(left ml);

@if $spaceClass {
	@each $direction in $listDirection {
		@for $i from 0 through $marginEndValue {
			.u-#{nth($direction, 2)}#{$i * 5} {
				margin-#{nth($direction, 1)}: #{$i * 5}px !important;

				&--pc {
					@include pc {
						margin-#{nth($direction, 1)}: #{$i * 5}px !important;
					}
				}

				&--sp {
					@include sp {
						margin-#{nth($direction, 1)}: #{$i * 5}px !important;
					}
				}
			}
		}
	}
}

/* ==========================================================================
1行下に余白
============================================================================*/
.u-mb-1em{
  margin-bottom:1em;
}
.u-ml-1em{
  margin-left:1em;
}
/* ==========================================================================
 余白ゼロ
============================================================================*/
.u-mb-0{
  margin-bottom: 0 !important;
}

/************************************
padding調整
************************************/	
$spacePadding: true !default;
$paddingEndValue: 50 !default;

@if $spacePadding {
	@for $i from 0 through $paddingEndValue {
		.u-pt#{$i * 5} {
			padding-top: #{$i * 5}px !important;
	
			&--pc {
				@include pc {
					padding-top: #{$i * 5}px !important;
				}
			}
	
			&--sp {
				@include sp {
					padding-top: #{$i * 5}px !important;
				}
			}
		}
		.u-pr#{$i * 5} {
			padding-right: #{$i * 5}px !important;
	
			&--pc {
				@include pc {
					padding-right: #{$i * 5}px !important;
				}
			}
	
			&--sp {
				@include sp {
					padding-right: #{$i * 5}px !important;
				}
			}
		}
		.u-pb#{$i * 5} {
			padding-bottom: #{$i * 5}px !important;
	
			&--pc {
				@include pc {
					padding-bottom: #{$i * 5}px !important;
				}
			}
	
			&--sp {
				@include sp {
					padding-bottom: #{$i * 5}px !important;
				}
			}
		}
		.u-pl#{$i * 5} {
			padding-left: #{$i * 5}px !important;
	
			&--pc {
				@include pc {
					padding-left: #{$i * 5}px !important;
				}
			}
	
			&--sp {
				@include sp {
					padding-left: #{$i * 5}px !important;
				}
			}
		}
	}		
}
