@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/26 */
/* 最終更新日：2022/09/29 */

body, h1, h2, h3, h4, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: 'Dancing Script', cursive, 'Noto Serif JP', serif, YuMincho, 'Yu Mincho', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    color: #666;
    background: #fff;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    position: 0;
    z-index: 100;
    background: rgba(255, 255, 255, .9);
    border-bottom: 1px solid rgba(102, 102, 102, .5);
}

header .flex {
    justify-content: space-evenly;
}

header h1 {
    background: url(../../../img/header_logo.png) center center / cover no-repeat;
    width: 200px;
    height: 58px;
    line-height: 0;
    font-size: 0;
    animation: header_logo 5s ease infinite;
}

@keyframes header_logo {
    50% {
        background: url(../../../img/header_logo_hover.png) center center / cover no-repeat;
    }
}

header h1 a {
    line-height: 58px;
    color: transparent;
}

header ul.flex {
    width: 250px;
    justify-content: space-around;
    margin-top: 23px;
}

header ul a {
    font-family: YuMincho, 'Yu Mincho';
    font-size: 22px;
    color: #666;
    transition: all .5s ease;
}

header ul a:hover {
    color: rgb(162, 135, 235);
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
    appearance: none;
    vertical-align: middle;
    border: 0;
    background: transparent;
    outline: 0;
    border-radius: 0;
    text-align: inherit;
    font-family: 'Yu Mincho', serif;
    /* ボタンの配置位置  */
    position: fixed;
    top: 25px;
    right: 25px;
    /* ボタンの大きさ  */
    width: 50px;
    height: 30px;
    /* バーガーの線をボタン範囲の中心に配置 */
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 800;
}

.btn:hover {
    cursor: pointer;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
    /* 線の長さと高さ */
    width: 100%;
    height: 3px;
    /* バーガー線の色 */
    background-color: #999;
    /* バーガー線の位置基準として設定 */
    position: relative;
    transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
    /* 基準線と同じ大きさと色 */
    position: absolute;
    transition: .5s;
}

.btn-line::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #999;
    /* 上の線の位置 */
    transform: translateY(-10px);
}

.btn-line::after {
    content: "menu";
    /* 下の線の位置 */
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(3px);
    color: #666;
}

/***** メニューオープン時 *****/
.btn-line.open {
    transition: .5s;
}

.btn-line.open::before {
    content: "";
    transform: translateY(0);
}

.btn-line.open::after {
    content: "close";
}

nav.open {
    display: block;
    animation: fade-in .5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* ここまでハンバーガーメニュー */

footer {
    line-height: 100px;
    text-align: center;
    background: #fdfdfd;
}

@media screen and (max-width: 960px) {
    .inner {
        width: 100%;
    }

    nav {
        display: none;
        width: 100%;
        position: fixed;
        top: 99px;
        text-align: center;
        background-color: rgba(255, 255, 255, .9);
    }

    nav.right {
        top: 279px;
    }

    nav ul.flex {
        display: block;
        margin-top: 0;
        width: 100%;
        line-height: 60px;
    }

    nav li a:hover {
        background: rgba(250, 250, 250, 1);
    }

    .btn {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    
}