@charset "UTF-8";

.main_visual {
    background: url(../../img/blue.png);
    width: 760px;
    height: 320px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
}

.main_visual figure {
    width: 730px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
}

.main_visual img {
    width: 700px;
    height: 280px;
    display: block;
    margin: 0 auto;
}

.contents ul.flex {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.contents ul li {
    height: 60px;
    width: 180px;
    background: url(../../img/gray.png);
    border-radius: 30px;
    text-align: center;
}

.contents ul li:hover {
    background: url(../../img/orange.png);
}

.contents ul a {
    line-height: 60px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

section.flex {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 20px;
}

section h2 {
    width: 100%;
    margin-bottom: 10px;
}

section section {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

section .bg_green {
    background: url(../../img/green.png);
}

section .bg_orange {
    background: url(../../img/orange.png);
}

.bg_white {
    background: #fff;
    padding: 10px 0;
}

section h3 {
    margin-bottom: 10px;
}

section figure {
    margin-bottom: 20px;
}

section img {
    width: 140px;
    height: 90px;
}

section section p:first-of-type {
    font-size: .9em;
    margin-bottom: 5px;
}

p.detail {
    width: 125px;
    height: 25px;
    background: url(../../img/skyblue.png);
    margin: 0 auto;
    border-radius: 5px;
}

p.detail a {
    line-height: 25px;
    color: #fff;
    text-shadow: 1px 1px #999;
    font-size: .9em;
}

p.detail a::before {
    content: "→";
    display: inline-block;
    margin-right: 5px;
}