@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/24 */
/* 最終更新日：2022/09/28 */

.main_visual {
    background: url(../../img/blue.png);
    width: 760px;
    height: 320px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
}

.main_visual figure {
    width: 730px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
}

.main_visual img {
    width: 700px;
    height: 280px;
    display: block;
    margin: 0 auto;
}

.contents ul.flex {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.contents ul li {
    height: 60px;
    width: 180px;
    background: url(../../img/gray.png);
    border-radius: 30px;
    text-align: center;
}

.contents ul li:hover {
    background: url(../../img/orange.png);
}

.contents ul a {
    line-height: 60px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

section.flex {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 20px 50px;
}

section h2 {
    width: 100%;
    margin-bottom: 10px;
}

section section {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

section .bg_green {
    background: url(../../img/green.png);
}

section .bg_orange {
    background: url(../../img/orange.png);
}

.bg_white {
    background: #fff;
    padding: 10px 0;
}

section h3 {
    margin-bottom: 10px;
}

section figure {
    margin-bottom: 20px;
}

section img {
    width: 140px;
    height: 90px;
}

section section p:first-of-type {
    font-size: .9em;
    margin-bottom: 5px;
}

p.detail {
    width: 125px;
    height: 25px;
    background: url(../../img/skyblue.png);
    margin: 0 auto;
    border-radius: 5px;
}

p.detail a {
    line-height: 25px;
    color: #fff;
    text-shadow: 1px 1px #999;
    font-size: .9em;
}

p.detail a::before {
    content: "→";
    display: inline-block;
    margin-right: 5px;
}

.contents > .flex {
    justify-content: space-evenly;
}

.contents > .flex section {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 5px #999;
}

.contents > .flex h4 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.contents > .flex dl {
    width: 500px;
    flex-wrap: wrap;
    line-height: 3;
    margin-bottom: 20px;
}

.contents > .flex dt {
    width: 35%;
    border-bottom: 1px dashed #999;
}

.contents > .flex dt::after {
    content: "";
    display: inline-block;
    height: 24px;
    width: 60px;
    background: url(../../img/orange.png) center center / cover no-repeat;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: text-bottom;
}

.contents > .flex dd {
    width: 64.8%;
    border-bottom: 1px dashed #999;
}

.contents > .flex dd a {
    display: inline-block;
    color: #666;
}

.contents > .flex dd a:hover {
    font-weight: bold;
}

.contents > .flex p.detail {
    margin-right: 0;
    margin-left: auto;
}

.contents > .flex p.detail a {
    text-align: center;
}

.right figure:first-of-type img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.right figure:last-of-type img {
    width: 350px;
    height: 100px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .main_visual {
        max-width: 760px;
        width: 100%;
        padding-bottom: 10px;
    }

    .main_visual figure {
        width: 96%;
        height: auto;
        padding-bottom: 10px;
    }

    .main_visual img {
        width: 96%;
    }
    
    .contents ul.flex {
        width: 100%;
    }

    .contents > section.flex section {
        margin-bottom: 20px;
    }

    .contents > div:nth-of-type(2) {
        display: block;
    }

    .contents > div:nth-of-type(2) section {
        width: 90%;
        margin: 0 auto 50px;
    }

    .right {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .right figure {
        width: 350px;
    }

    .right figure img {
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .main_visual {
        height: 240px;
    }

    .main_visual figure {
        width: 94%;
    }

    .main_visual img {
        height: 200px;
        width: 94%;
    }

    .contents ul.flex {
        top: -25px;
    }

    .contents ul li {
        width: 100px;
        height: 50px;
    }

    .contents li a {
        line-height: 50px;
    }

    .contents > .flex h4 {
        font-size: 20px;
    }

    .contents > .flex dl {
        display: block;
        width: 100%;
        font-size: .9em;
    }

    .contents > .flex dt {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .contents > .flex dd {
        width: 100%;
        padding: 0 10%;
        box-sizing: border-box;
    }

    .right figure:first-of-type img {
        width: 280px;
        height: 160px;
    }

    .right figure:last-of-type img {
        width: 280px;
        height: 80px;
    }
}