<!DOCTYPE html>
<!-- 作成者：荒牧直矢 -->
<!-- 作成日：20xx/xx/xx -->
<!-- 最終更新日：20xx/xx/xx -->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Work10</title>
        <link rel="stylesheet" href="/fat/common/css/common.css">
        <link rel="stylesheet" href="/fat/works/template/site/common/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/fat/common/js/common.js"></script>
    </head>
    <body>
        
        <nav class="c-globalNav">

        </nav>
        <button type="button" class="c-hamburger">
            <span class="c-hamburger__line"></span>
        </button>
    </body>
</html>