@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/24 */
/* 最終更新日：2022/09/28 */

body, h1, h2, h3, h4, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "メイリオ", Meiryo, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, sans-serif;
    font-size: 16px;
    color: #686868;
    background: #e1f8f7;
}

.inner {
    width: 940px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 15px 0 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background: rgba(225, 248, 247, .9);
}

header h1 {
    width: 200px;
    height: 90px;
    background: url(../../../img/gray.png) no-repeat;
    font-size: 1.5em;
    text-align: center;
}

header h1 a {
    line-height: 90px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

header p.catch {
    font-size: 14px;
    margin-top: 55px;
    margin-left: 20px;
}

header p.tel a {
    color: #51c8e8;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
}

header p.tel a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../../img/gray.png) no-repeat;
    border-radius: 50%;
    margin-right: 5px;
}

nav {
    padding-top: 115px;
    position: relative;
}

nav ul.flex {
    width: 600px;
    margin-left: 220px;
    margin-right: 120px;
    position: absolute;
}

nav li {
    width: 140px;
    height: 60px;
    background: url(../../../img/gray.png) no-repeat;
    text-align: center;
}

nav li:hover {
    height: 80px;
    background: url(../../../img/orange.png) no-repeat;
}

nav li a {
    color: #fff;
    text-shadow: 1px 1px #999;
    line-height: 60px;
}

nav li a:hover {
    line-height: 80px;
}

main.inner {
    margin-top: 60px;
    padding-left: 30px;
    box-shadow: 0 0 3px 3px #cee3e2;
    background: linear-gradient(0deg, transparent calc(100% - 1px), #e1f8f7 calc(100% - 1px)) center center / 16px 16px repeat,
                linear-gradient(90deg, transparent calc(100% - 1px), #e1f8f7 calc(100% - 1px)) center center / 16px 16px repeat,
                #fff;
}

.linear {
    border-left: 1px solid #fcc;
    width: 930px;
    padding-left: 5px;
}

.contents {
    border-left: 1px #fcc solid;
    padding: 30px 0 50px;
    width: 925px;
}

footer {
    font-size: .9em;
    padding: 20px 0 70px;
    background: url(../../../img/blue.png) bottom center / 20px 20px repeat-x;
}

footer li {
    line-height: 10px;
}

footer li a {
    color: #666;
    border-right: 1px solid #ccc;
    padding: 5px 10px;
    box-sizing: border-box;
}

footer li:last-of-type a {
    border-right: none;
}

@media screen and (max-width: 1000px) {
    .inner,
    .linear,
    .contents {
        width: 100%;
        box-sizing: border-box;
    }

    main.inner {
        padding-left: 20px;
        padding-right: 10px;
    }

    .contents {
        padding-bottom: 30px;
        padding-left: 5px;
    }
    
    .header_left.flex {
        flex-flow: column-reverse wrap;
        width: 60%;
        min-width: 350px;
        height: 107px;
    }

    .header_right {
        width: 30%;
        min-width: 250px;
        margin-top: 23px;
    }

    header h1 {
        margin-left: 20px;
    }

    header p.catch {
        margin: 0 0 0 auto;
        font-size: .7em;
    }

    nav.inner {
        padding-top: 150px;
        width: 600px;
    }

    nav.inner {
        width: 100%;
        max-width: 600px;
    }

    nav ul.flex {
        width: 100%;
        margin: 0;
    }

    nav li {
        width: calc(100% /4.5);
        margin: 0 auto;
    }

    footer {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .header_left.flex {
        min-width: 200px;
        height: 115px;
    }

    header h1 {
        height: 81px;
        width: 180px;
    }

    header h1 a {
        line-height: 81px;
        font-size: .9em;
    }

    .header_right {
        font-size: .8em;
        margin-top: 30px;
        min-width: 140px;
    }

    header p.tel a {
        font-size: 1em;
    }

    header p.tel a::before {
        vertical-align: text-bottom;
    }

    footer {
        padding: 20px 10px 70px;
    }
    
    footer > .flex {
        display: block;
    }

    footer ul.flex {
        width: 120px;
        margin-bottom: 20px;
    }

    footer p {
        text-align: center;
    }
}