@charset "UTF-8";
/* ==========================================================================
  作成者    ：荒牧直矢
  作成日    ：2022/10/16
  最終更新日：2022/10/16
============================================================================*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4,
p,
ul, ol, li,
figure, figcaption,
blockquote,
dl, dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  position: relative;
  font-family: YuMincho, "Yu Mincho", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
  min-width: 1320px;
  color: #222;
  background: #fff;
}
@media screen and (max-width: 767px) {
  body {
    min-width: auto;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  line-height: 1;
  scroll-behavior: smooth;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.c-globalNav {
  padding-top: 20px;
  margin-right: 10px;
}
.c-globalNav.is-open {
  display: block;
  animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.c-globalNav-top, .c-globalNav-bottom {
  display: flex;
}
.c-globalNav-top {
  justify-content: right;
  margin-right: 15px;
}
.c-globalNav-top__link {
  font-size: 1.2rem;
  padding: 0 15px;
  color: #53565a;
  border-left: 1px solid #e6e6e6;
}
.c-globalNav-top__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.c-globalNav-bottom__link {
  font-size: 1.4rem;
  padding: 20px 30px;
  color: #1f1f1f;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
}
.c-globalNav-bottom__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
}
.c-globalNav-bottom__link:hover {
  opacity: 0.7;
}
.c-globalNav-bottom__link:hover::after {
  background: #ffb81c;
}

.c-hamburger {
  appearance: none;
  vertical-align: middle;
  border: 0;
  background: transparent;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  font-family: "Yu Mincho", serif;
  /* ボタンの配置位置  */
  position: fixed;
  top: 15px;
  right: 10px;
  /* ボタンの大きさ  */
  width: 50px;
  height: 30px;
  /* バーガーの線をボタン範囲の中心に配置 */
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 110;
  /***** 真ん中のバーガー線 *****/
}
.c-hamburger:hover {
  cursor: pointer;
}
.c-hamburger__line {
  /* 線の長さと高さ */
  width: 100%;
  height: 3px;
  /* バーガー線の色 */
  background-color: #666;
  /* バーガー線の位置基準として設定 */
  position: relative;
  transition: 0.2s;
  /***** 上下のバーガー線 *****/
  /***** メニューオープン時 *****/
}
.c-hamburger__line::before, .c-hamburger__line::after {
  /* 基準線と同じ大きさと色 */
  position: absolute;
  transition: 0.5s;
}
.c-hamburger__line::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #666;
  /* 上の線の位置 */
  transform: translateY(-10px);
}
.c-hamburger__line::after {
  content: "menu";
  /* 下の線の位置 */
  display: block;
  width: 100%;
  text-align: center;
  transform: translateY(3px);
  color: #333;
}
.c-hamburger__line.is-open {
  transition: 0.5s;
}
.c-hamburger__line.is-open::before {
  content: "";
  transform: translateY(0);
}
.c-hamburger__line.is-open::after {
  content: "close";
}

/* ここまでハンバーガーメニュー */
.l-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
.l-header-logo {
  background: url(/fat/works/img/white_gray.png) center center/cover no-repeat;
  width: 378px;
  height: 43px;
  margin: 30px 0 13px;
  margin-left: 25px;
}
.l-header-logo__link {
  line-height: 43px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 1px #999;
  font-weight: bold;
  transition: all 0.3s ease;
}
.l-header-logo__link:hover {
  opacity: 0.7;
}
.l-header-right {
  display: flex;
}
.l-header-right__list {
  display: flex;
  border-right: 1px solid #e6e6e6;
}
.l-header-right__item {
  border-left: 1px solid #e6e6e6;
}
.l-header-right__link {
  width: 75px;
  padding: 16px 0;
  text-align: center;
  color: #222;
  font-size: 1.2rem;
}
.l-header-right__img {
  width: 32px;
  height: 32px;
  margin: 0 auto 10px;
}

h1 {
  color: #f00;
}

.u-align--left {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .u-align--left--sp {
    text-align: left !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-align--left--pc {
    text-align: left !important;
  }
}
.u-align--center {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .u-align--center--sp {
    text-align: center !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-align--center--pc {
    text-align: center !important;
  }
}
.u-align--right {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .u-align--right--sp {
    text-align: right !important;
  }
}
@media screen and (min-width: 768px), print {
  .u-align--right--pc {
    text-align: right !important;
  }
}

.u-clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ==========================================================================
1行下に余白
============================================================================*/
.u-mb-1em {
  margin-bottom: 1em;
}

.u-ml-1em {
  margin-left: 1em;
}

/* ==========================================================================
 余白ゼロ
============================================================================*/
.u-mb-0 {
  margin-bottom: 0 !important;
}

/************************************
padding調整
************************************/
/* ==========================================================================
 PC/SPで要素の出し分け
============================================================================*/
@media screen and (max-width: 767px) {
  .u-use--pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px), print {
  .u-use--sp {
    display: none !important;
  }
}

/*SE専用class*/
@media screen and (min-width: 321px) {
  .u-use--se {
    display: none;
  }
}
/* 要素表示の制御 */
.u-hide {
  display: none !important;
}

.u-show {
  display: block !important;
}

@media screen and (max-width: 767px) {
  .u-use--sp-image {
    max-width: 100%;
  }
}

/* ==========================================================================
三点リーダ表示
============================================================================*/
.u-ellipsis {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ==========================================================================
文字の折り返し設定
============================================================================*/
.u-ws--wrap {
  white-space: wrap;
}
.u-ws--nowrap {
  white-space: nowrap;
}

/* ==========================================================================
文字の太さ設定
============================================================================*/
.u-fw--bold {
  font-weight: bold;
}
.u-fw--normal {
  font-weight: normal;
}

/* ==========================================================================
フレックス
============================================================================*/
.u-flex {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .u-flex {
    flex-direction: column;
    align-items: center;
  }
}

.u-text-emphasis {
  color: #e91818 !important;
}
/*# sourceMappingURL=style.css.map */