.p-content {
    width: 1080px;
    margin: 0 auto;
    padding: 60px 0;

    &--section05 {
        padding: 20px 0 80px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        &--section02, &--section03, &--section05 {
            margin-bottom: 40px;
        }
    }

    &__item {
        width: 336px;

        &--section01 {
            height: 440px;
            background: #E8F9FC;
        }

        &--section03 {
            background: $bgColor;
            display: flex;
            flex-direction: column;
        }
    }

    &__heading {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--section01 {
            height: 90px;
        }

        &--section03 {
            padding: 20px 0 5px;
            word-break: break-all;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__figure {

        &--section01 {
            margin-bottom: 20px;
        }

        &--section03 {
            margin-top: auto;
        }
    }

    &__image {
        width: 336px;

        &--section01 {
            height: 120px;
        }

        &--section02 {
            height: 226px;
        }

        &--section03 {
            height: 236px;
        }
    }

    &__description {
        word-wrap: break-word;
        line-height: 1.5;
        font-size: 1.6rem;
        
        &--section01 {
            padding: 0 25px;
        }
        
        &--small {
            line-height: 1;
            font-size: 1.2rem;
        }
    }

    &__right {
        width: 707px;
    }

    &-flow {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        background: #a6d941;

        &__left, &__right {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__left {
            width: 40%;
            background: #fff;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                border-top: 30px solid transparent;
                border-left: 30px solid #fff;
                border-bottom: 30px solid transparent;
                top: 0;
                right: -30px;
            }
        }

        &__right {
            padding-left: 30px;
            width: 60%;
            color: #fff;
        }
    }
}