.p-consent {
    %heading {
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.6;
    }
    padding: 38px;

    @include sp {
        padding: 14px;
    }

    &__body {
        min-width: auto;
        font-size: 1.2rem;
    }

    &__heading {
        @extend %heading;
        margin-bottom: 30px;
        @include sp {
            margin-bottom: 20px;
        }
    }

    &-term {
        margin-top: 20px;

        &__heading {
            @extend %heading;
        }

        &__description,
        &__item,
        &__note {
            line-height: 1.6;
        }

        &__listTitle {
            @extend %heading;
        }
    }
}