.p-footer {

    &-top {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e6e6e6;

        @include sp {
            display: block;
            padding: 0 20px;
            box-sizing: border-box;
        }

        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__heading {
            margin-right: 12px;

            a {
                color: #53565a;
                font-size: 1.2rem;
                margin: 28px 0 27px;

                @include sp {
                    margin: 24px 0;
                }

                &:hover {
                    text-decoration: underline;
                    opacity: .7;
                }
            }
        }

        &__sns {
            margin-top: 14px;
            display: flex;
            justify-content: space-between;

            @include sp {
                margin-top: 11px;
            }

            a {
                margin-left: 12px;
                transition: all .3s ease;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &__item {
            margin: 28px 0 27px;
            border-left: 1px solid #e6e6e6;

            a {
                color: #53565a;
                padding: 0 16px;
                font-size: 1.2rem;

                &:hover {
                    text-decoration: underline;
                    opacity: .7;
                }
            }
        }
    }

    &-aboveTheMiddle {
        border-top: 1px solid #e6e6e6;
        margin-bottom: 18px;
        
        @include sp {
            margin-bottom: 0;
        }
        
        &__heading {
            font-weight: bold;
            font-size: 1.2rem;
            color: #53565a;
            padding-top: 21px;

            @include sp {
                font-weight: normal;
                padding: 12px 20px;
                cursor: pointer;
                position: relative;

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 2px;
                    background-color: #97999B;
                    transition: all .3s ease;
                }

                &::before {
                    top:48%;
                    right: 20px;
                    transform: rotate(0deg);
                }

                &::after {
                    top:48%;
                    right: 20px;
                    transform: rotate(90deg);
                }

                &.close::before {
                    transform: rotate(135deg);
                }

                &.close::after {
                    transform: rotate(45deg);
                }
            }

            a {
                color: #53565a;

                &:hover {
                    text-decoration: underline;
                    opacity: .7;
                }
            }

            &:last-of-type {

                @include sp {
                    border-top: 1px solid #e6e6e6;
                }
            }
        }

        &__list {
            margin-top: 23px;
            padding-left: 16px;
            display: flex;
            justify-content: space-between;

            @include sp {
                display: none;
                margin-top: 14px;
                padding: 0 20px;

                &.is-open {
                    display: block;
                }
            }

            &:first-of-type {
                width: 537px;

                @include sp {
                    width: 100%;
                }
            }

            &:last-of-type {
                width: 275px;

                @include sp {
                    width: 100%;
                }
            }

        }

        &__item {
            
            @include sp {
                padding-left: 20px;
                box-sizing: border-box;
            }

            a {
                color: #53565a;
                font-size: 1.2rem;

                &:hover {
                    text-decoration: underline;
                    opacity: .7;
                }

                @include sp {
                    padding-bottom: 20px;
                }
            }
        }
    }

    &-belowTheMiddle {
        border-top: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;

        @include sp {
            display: block;
        }

        &__list {
            display: flex;
            justify-content: space-between;

            @include sp {
                flex-wrap: wrap;
            }

            &:first-of-type {
                margin: 26px 0 23px;
                width: 394px;
            }

            &:nth-of-type(2) {
                margin: 26px 26px 24px 0;
                width: 413px;
                
                @include sp {
                    width: 100%;
                    margin: 0;
                }
            }

            a {

                &:hover {
                    text-decoration: underline;
                    opacity: .7;
                }
            }
        }

        &__heading {
            font-size: 1.2rem;
            font-weight: bold;
            color: #53565a;
            margin-right: 30px;
        }

        &__item {
            margin-top: 2px;

            @include sp {
                width: 50%;
                margin-top: 0;
                border-bottom: 1px solid #e0e0e0;

                &:nth-of-type(odd) {
                    border-right: 1px solid #e0e0e0;
                }
            }

            a {
                color: #53565a;
                font-size: 1.2rem;

                @include sp {
                    padding: 12px 20px;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e6e6e6;

        @include sp {
            padding: 0 4px;
            border-top: none;
        }
        
        &__list {
            display: flex;
            justify-content: space-between;

            &:first-of-type {
                width: 752px;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-top: 1px;
                margin-bottom: 33px;

                @include sp {
                    margin-top: 5px;
                    margin-bottom: 25px;
                }
            }
        }

        &__item {
            margin-top: 24px;
            border-right: 1px solid #e6e6e6;

            @include sp {
                margin-top: 20px;
                border: none;

                &:first-of-type,
                &:nth-of-type(3) {
                    border-right: 1px solid #e6e6e6;
                }
            }

            a {
                color: #97999b;
                font-size: 1.2rem;
                padding-left: 16px;
                padding-right: 15px;
                transition: color .3s ease;

                &:hover {
                    text-decoration: underline;
                    opacity: .7;
                    color: #222;
                }
            }

            @include pc {
                &:first-of-type,
                &:nth-of-type(5) {
                    a {
                        padding-left: 0;
                    }
                }
            }
        }

        &__jassa {
            margin-top: 35px;
            margin-right: 29px;

            a {
                transition: all .3s ease;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &__privacy {
            margin-top: 16px;
            margin-left: 3px;

            a {
                transition: all .3s ease;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}