@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/22 */
/* 最終更新日：2022/09/28 */

body, h1, h2, h3, h4, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Arial, "Helvetica Neue", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", YuGothic, "ヒラギノ角ゴ Pro N W3", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 14px;
    color: #000;
    background: #fff;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    
}

header > .flex {
    padding: 40px 20px;
    box-sizing: border-box;
}

header h1 {
    width: 470px;
    height: 50px;
    background: url(../../../img/gray.png) no-repeat;
    text-align: center;
}

header h1 a {
    line-height: 50px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

header address {
    text-align: right;
    font-style: normal;
    width: 400px;
}

header address p {
    margin-bottom: 5px;
}

header address p:first-of-type {
    font-weight: bold;
}

header .map {
    display: inline-block;
    margin-left: 10px;
    color: #f39700;
}

header address p:last-of-type a {
    color: #000;
}

header address p:last-of-type a::before {
    content: "電話:";
    margin-right: 5px;
    display: inline-block;
}

nav {
    background: url(../../../img/skyblue.png) no-repeat;
}

nav ul {
    width: 100%;
}

nav li {
    width: 20%;
    text-align: center;
    border-left: 1px dotted #fff;
    box-sizing: border-box;
}

nav li:last-of-type {
    border-right: 1px dotted #fff;
}

nav li a {
    line-height: 90px;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px #999;
    background: url(../../../img/gray.png);
    transition: all .3s ease;
}

nav li a:hover {
    background: url(../../../img/orange.png);
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
    appearance: none;
    vertical-align: middle;
    border: 0;
    background: transparent;
    outline: 0;
    border-radius: 0;
    text-align: inherit;
    font-family: 'Yu Mincho', serif;
    /* ボタンの配置位置  */
    position: fixed;
    top: 20px;
    right: 20px;
    /* ボタンの大きさ  */
    width: 50px;
    height: 30px;
    /* バーガーの線をボタン範囲の中心に配置 */
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 800;
}

.btn:hover {
    cursor: pointer;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
    /* 線の長さと高さ */
    width: 100%;
    height: 3px;
    /* バーガー線の色 */
    background-color: #666;
    /* バーガー線の位置基準として設定 */
    position: relative;
    transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
    /* 基準線と同じ大きさと色 */
    position: absolute;
    transition: .5s;
}

.btn-line::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #666;
    /* 上の線の位置 */
    transform: translateY(-10px);
}

.btn-line::after {
    content: "menu";
    /* 下の線の位置 */
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(3px);
    color: #666;
}

/***** メニューオープン時 *****/
.btn-line.open {
    transition: .5s;
}

.btn-line.open::before {
    content: "";
    transform: translateY(0);
}

.btn-line.open::after {
    content: "close";
}

nav.open {
    display: block;
    animation: fade-in .5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* ここまでハンバーガーメニュー */

footer {
    margin-top: 110px;
    background: #bce3f5;
    border-top: solid 5px #00b7ee;
    padding-top: 25px;
    line-height: 2;
}

footer .inner {
    background: url(../../../img/gray.png) right bottom / 260px 170px no-repeat;
}

footer a {
    color: #00f;
    text-shadow: 1px 1px #999;
}

footer > .inner > p {
    margin-bottom: 15px;
}

footer > .inner > ul {
    width: 400px;
}

footer > p {
    line-height: 3;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px #999;
}

@media screen and (max-width: 960px) {
    .inner {
        width: 100%;
    }

    header .inner {
        display: block;
        padding: 10px;
    }

    header address {
        margin-top: 10px;
        text-align: left;
        font-size: .8em;
    }

    nav {
        position: fixed;
        width: 100%;
        top: 146px;
        z-index: 100;
        display: none;
    }

    nav ul.flex {
        display: block;
    }

    nav li {
        width: 100%;
    }

    nav li a {
        line-height: 70px;
    }

    .btn {
        display: flex;
    }

    footer > .inner > ul {
        width: 250px;
        margin-left: 20px;
    }

    footer > p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        width: 235px;
        height: 30px;
    }

    header h1 a {
        line-height: 30px;
        font-size: .8em;
    }

    header address p {
        margin-bottom: 0;
    }

    .btn {
        top: 10px;
        right: 10px;
    }

    nav {
        top: 111px;
    }

    footer > .inner > p {
        margin-bottom: 10px;
    }

    footer .inner {
        background-size: 130px 85px;
        padding-bottom: 20px;
    }

    footer > p {
        font-size: 1em;
    }
}