.l-kv {
    padding-top: 86px;
    position: relative;

    @include sp {
        padding-top: 98px;

        &.is-close {
            display: none;
        }
    }

    &__image {
        height: 450px;
        object-fit: cover;
        width: 100%;

        @include sp {
            height: auto;
        }

        &--apply {
            height: 200px;

            @include sp {
                height: auto;
            }
        }
    }

    &__topicPath {
        position: absolute;
        top: 86px;
        width: 1080px;
        left: 50%;
        transform: translate(-50%);

        @include sp {
            display: none;
        }
    }

    &__list {
        position: relative;
    }

    &__item {
        display: flex;
        position: absolute;
        top: 18px;
        color: #97999b;
        font-size: 1.1rem;
        
        &:first-of-type {
            left: 0;

            &::after {
                content: ">";
                display: inline-block;
                margin-left: 8px;
            }
        }

        &:last-of-type {
            left: 45px;
        }
    }

    &__link {
        color: #97999b;

        &:hover {
            text-decoration: underline;
        }
    }

    &__heading {
        font-size: 3.4rem;
        position: absolute;
        margin-top: 25px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}