@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/26 */
/* 最終更新日：2022/09/30 */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 165, 0, .6);
}

body, h1, h2, h3, h4, h5, h6, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: 'Shippori Mincho B1', -apple-system, BlinkMacSystemFont, Arial, "Helvetica Neue", "ＭＳ Ｐゴシック", YuGothic, "ヒラギノ角ゴ Pro N W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif, serif;
    font-size: 16px;
    color: #fff;
}

.inner {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: rgba(255, 165, 0, .6);
}

header .inner {
    padding: 20px 10px;
    box-sizing: border-box;
}

header h1 {
    font-size: 1.5em;
    width: 300px;
    height: 45px;
    text-align: center;
    background: url(../../../img/skyblue.png) center center / cover no-repeat;
}

header h1 a {
    line-height: 45px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

header ul {
    margin-top: 20px;
    width: 420px;
}

header li a {
    color: #fff;
    text-shadow: 7px 5px 5px #fff;
}

header nav a:hover {
    color: rgb(255, 243, 135);
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
    appearance: none;
    vertical-align: middle;
    border: 0;
    background: transparent;
    outline: 0;
    border-radius: 0;
    text-align: inherit;
    font-family: 'Yu Mincho', serif;
    /* ボタンの配置位置  */
    position: fixed;
    top: 20px;
    right: 20px;
    /* ボタンの大きさ  */
    width: 50px;
    height: 30px;
    /* バーガーの線をボタン範囲の中心に配置 */
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 800;
}

.btn:hover {
    cursor: pointer;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
    /* 線の長さと高さ */
    width: 100%;
    height: 3px;
    /* バーガー線の色 */
    background-color: #fff;
    /* バーガー線の位置基準として設定 */
    position: relative;
    transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
    /* 基準線と同じ大きさと色 */
    position: absolute;
    transition: .5s;
}

.btn-line::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* 上の線の位置 */
    transform: translateY(-10px);
}

.btn-line::after {
    content: "menu";
    /* 下の線の位置 */
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(3px);
    color: #fff;
}

/***** メニューオープン時 *****/
.btn-line.open {
    transition: .5s;
}

.btn-line.open::before {
    content: "";
    transform: translateY(0);
}

.btn-line.open::after {
    content: "close";
}

nav.open {
    display: block;
    animation: fade-in .5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* ここまでハンバーガーメニュー */

footer {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(rgba(135, 206, 235, .2), rgba(255, 255, 255, .6), rgba(255, 255, 255, .4) 80%),
                url(../../../../img/skyblue.png);
    z-index: -10;
    position: relative;
}

.footer_logo {
    width: 400px;
    height: 120px;
    background: url(../../../../img/orange.png) center center / cover no-repeat;
    line-height: 120px;
    text-shadow: 1px 1px #999;
    margin: 0 auto 120px;
}

footer ul {
    width: 120px;
    margin: 0 auto 20px;
}

footer li img {
    width: 30px;
    height: 30px;
    opacity: .4;
}

footer p:last-of-type {
    text-shadow: 1px 1px #999;
}

@media screen and (max-width: 1000px) {
    .inner {
        width: 100%;
    }
    
    header > .flex {
        display: block;
    }

    nav {
        display: none;
    }

    nav ul.flex {
        display: block;
        width: 100%;
        text-align: center;
    }

    header li a {
        line-height: 60px;
    }

    .btn {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        width: 240px;
        font-size: 1.2em;
    }

    .footer_logo {
        max-width: 400px;
        width: 100%;
    }

    footer small {
        font-size: 12px;
    }
}