@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/30 */
/* 最終更新日：2022/09/30 */

body {
    color: #666;
}

.main_visual {
    margin-top: 85px;
    background: url(../../../../img/pink.png) center center / cover no-repeat;
    height: 200px;
    margin-bottom: 100px;
}

.main_visual p {
    text-align: center;
    line-height: 200px;
    color: #fff;
    text-shadow: 1px 1px #999;
    font-size: 2em;
}

.main_top {
    width: 600px;
    margin: 0 auto 100px;
    text-align: center;
    word-wrap: break-word;
}

footer {
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .main_visual {
        margin-bottom: 75px;
    }

    .main_top {
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 600px) {
    .main_visual {
        margin-bottom: 50px;
    }

    .main_top {
        width: 100%;
        margin-bottom: 50px;
    }
}