@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/25 */
/* 最終更新日：2022/09/28 */

body, h1, h2, h3, h4, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

input, a {
    outline: none;
}

body {
    font-family: YuMincho, 'Yu Mincho', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    color: #666;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    background: rgba(255, 255, 255, .95);
    width: 100%;
}

header > .flex {
    padding: 0 50px;
    box-sizing: border-box;
}

header h1 {
    width: 200px;
    height: 59px;
    background: url(../../../img/header_logo.png) center center / cover no-repeat;
    line-height: 0;
    color: transparent;
    font-size: 0;
    animation: header_logo 5s ease infinite;
}

@keyframes header_logo {
    50% {
        background: url(../../../img/header_logo_hover.png) center center / cover no-repeat;
    }
}

header h1 a {
    line-height: 59px;
}

header ul {
    width: 120px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10px;
}

header li {
    width: 30px;
    height: 30px;
    line-height: 0;
    color: transparent;
    font-size: 0;
}

header li a {
    line-height: 30px;
}

header .instagram {
    background: url(../../../img/icon_instagram.png) center center / cover no-repeat;
    animation: icon_instagram 5s ease infinite;
}

@keyframes icon_instagram {
    25% {
        background: url(../../../img/icon_instagram_hover.png) center center / cover no-repeat;
    }
}

header .twitter {
    background: url(../../../img/icon_twitter.png) center center / cover no-repeat;
    animation: icon_twitter 5s ease infinite;
}

@keyframes icon_twitter {
    50% {
        background: url(../../../img/icon_twitter_hover.png) center center / cover no-repeat;
    }
}

header .facebook {
    background: url(../../../img/icon_facebook.png) center center / cover no-repeat;
    animation: icon_facebook 5s ease infinite;
}

@keyframes icon_facebook {
    75% {
        background: url(../../../img/icon_facebook_hover.png) center center / cover no-repeat;
    }
}

header input[type="search"] {
    padding: 5px;
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid #000;
    width: 210px;
}

header input[type="submit"] {
    border: none;
    border-bottom: 3px solid #000;
    cursor: pointer;
}

nav {
    background: #000;
    position: fixed;
    top: 108px;
    z-index: 100;
    text-align: center;
    width: 100%;
}

nav li {
    height: 62px;
    width: calc(100% / 6);
    border-left: 1px solid #fff;
    box-sizing: border-box;
    transition: all .3s ease;
}

nav li:last-of-type {
    border-right: 1px solid #fff;
}

nav li:hover {
    background: url(../../../img/gray.png) center center / cover no-repeat;
}

nav a {
    line-height: 62px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
    appearance: none;
    vertical-align: middle;
    border: 0;
    background: transparent;
    outline: 0;
    border-radius: 0;
    text-align: inherit;
    font-family: 'Yu Mincho', serif;
    /* ボタンの配置位置  */
    position: fixed;
    top: 15px;
    right: 10px;
    /* ボタンの大きさ  */
    width: 50px;
    height: 30px;
    /* バーガーの線をボタン範囲の中心に配置 */
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 800;
}

.btn:hover {
    cursor: pointer;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
    /* 線の長さと高さ */
    width: 100%;
    height: 3px;
    /* バーガー線の色 */
    background-color: #999;
    /* バーガー線の位置基準として設定 */
    position: relative;
    transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
    /* 基準線と同じ大きさと色 */
    position: absolute;
    transition: .5s;
}

.btn-line::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #999;
    /* 上の線の位置 */
    transform: translateY(-10px);
}

.btn-line::after {
    content: "menu";
    /* 下の線の位置 */
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(3px);
    color: #666;
}

/***** メニューオープン時 *****/
.btn-line.open {
    transition: .5s;
}

.btn-line.open::before {
    content: "";
    transform: translateY(0);
}

.btn-line.open::after {
    content: "close";
}

nav.open {
    display: block;
    animation: fade-in .5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* ここまでハンバーガーメニュー */

footer {
    line-height: 150px;
    background: #000;
    color: #fff;
    text-shadow: 1px 1px #999;
    text-align: center;
}

footer .inner {
    position: relative;
    padding-bottom: 50px;
}

footer p:last-of-type {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

footer .wit_logo {
    background: url(../../../img/link_wit.png) center center / cover no-repeat;
    width: 150px;
    height: 55px;
    animation: wit_logo 5s ease infinite;
}

@keyframes wit_logo {
    50% {
        background: url(../../../img/link_wit_hover.png) center center / cover no-repeat;
    }
}

footer .wit_logo a {
    line-height: 55px;
    color: transparent;
    font-size: 0;
}

@media screen and (max-width: 960px) {
    .inner {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 20px 0 10px;
    }

    header > .flex {
        display: block;
        padding: 0;
        /* flex-flow: column-reverse wrap; */
        /* flex-direction: row-reverse; */
    }

    header h1 {
        margin: 0 auto;
    }

    .header_right {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
        justify-content: space-around;
    }

    header ul {
        margin: 0 5px;
    }

    nav {
        display: none;
        top: 139px;
    }

    nav ul.flex {
        display: block;
    }

    nav li {
        width: 100%;
    }

    nav li:last-of-type {
        border-right: none;
    }

    .btn {
        display: flex;
    }
}