@charset "utf-8";
.u-align {
  $__align: left, center, right;
  @each $key in $__align {
    &--#{$key} {
      text-align: #{$key};

      &--sp {
        @include sp(){
          text-align: #{$key} !important;
        }
      }
      &--pc {
        @include pc(){
          text-align: #{$key} !important;
        }
      }
    }
  }
}