@charset "utf-8";

/* ==========================================================================
 PC/SPで要素の出し分け
============================================================================*/
.u-use--pc {
  @include sp() {
    display: none !important;
  }
}

.u-use--sp {
  @include pc() {
    display: none !important;
  }
}

/*SE専用class*/
@media screen and (min-width:321px){
  .u-use--se{
    display:none;
  }
}


/* ==========================================================================
三点リーダ表示
============================================================================*/
.u-ellipsis {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ==========================================================================
文字の折り返し設定
============================================================================*/
.u-ws {
  &--wrap {
    white-space: wrap;
  }
  &--nowrap {
    white-space: nowrap;
  }
}

/* ==========================================================================
文字の太さ設定
============================================================================*/
.u-fw {
  &--bold {
    font-weight:bold;
  }
  &--normal {
    font-weight:normal;
  }
}
/* ==========================================================================
英数字のフォント設定
============================================================================*/
.u-roboto{
  font-family: $font-family-robo;
}

.u-hide{
  display: none !important;
}


