@for $i from 0 through 50 {
	.u-width#{$i * 5} {
		width: #{$i * 5}px !important;
	}
}

@for $i from 0 through 50 {
	.u-width#{$i * 5}--pc {
		@include pc {
			width: #{$i * 5}px !important;
		}
	}
}


@for $i from 0 through 50 {
	.u-width#{$i * 5}--sp {
		@include sp {
			width: #{$i * 5}px !important;
		}
	}
}

.u-img-width{
  &--pc{
    @include pc {
      width:100%;
    }
  }
  &--sp{
    @include sp {
      width:100%;
    }
  }
}
