@charset "UTF-8";

body, h1, h2, h3, h4, p, figure, dl, dd, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    vertical-align: bottom;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    color: #666;
    background-color: #fcefe6;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 10px 0;
    background: #fff;
}

header h1 {
    width: 270px;
    height: 60px;
    background: url(../../../img/skyblue.png) no-repeat;
}

header h1 a {
    line-height: 60px;
    color: #fff;
    text-shadow: 1px 1px #999;
    text-align: center;
}

header ul {
    width: 500px;
}

header li {
    width: 20%;
}

header li a {
    background: url(../../../img/skyblue.png) no-repeat;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

header .nav01 a:hover {
    background: url(../../../img/gray.png) no-repeat;
}

header .nav02 a:hover {
    background: url(../../../img/gray.png) no-repeat;
}

header .nav03 a:hover {
    background: url(../../../img/gray.png) no-repeat;
}

header .nav04 a:hover {
    background: url(../../../img/gray.png) no-repeat;
}

header .nav05 a:hover {
    background: url(../../../img/gray.png) no-repeat;
}

footer {
    background: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p:first-of-type {
    background: url(../../../img/skyblue.png) center center / cover no-repeat;
    width: 200px;
    height: 100px;
    margin: 0 auto 20px;
}

footer p:first-of-type a {
    line-height: 100px;
    color: #fff;
    text-shadow: 1px 1px #999;
}

footer p:last-of-type {
    font-size: .9em;
}