@charset "UTF-8";

article h2 {
    color: #fff;
    text-shadow: 1px 1px #999;
    background: url(../../../img/skyblue.png) no-repeat;
    padding-left: 10px;
    line-height: 36px;
    margin-bottom: 20px;
}

article > p {
    margin-bottom: 20px;
}

article > section {
    border-bottom: 1px dashed #666;
    margin-bottom: 50px;
}

section h3 {
    color: #a5751b;
    border-bottom: 1px solid #a5751b;
    margin-bottom: 15px;
}

section h3::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url(../../../img/skyblue.png) no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
    /* line-height: 21px; */
    margin-right: 5px;
}

section img {
    width: 250px;
    height: 175px;
}

.flex {
    margin-bottom: 20px;
}

.flex section {
    width: 470px;
    padding-top: 20px;
}

.flex h4 {
    color: #080;
    margin-bottom: 20px;
}

section table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

td {
    border: 1px solid #999;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
}

article > section > p {
    margin-bottom: 20px;
}