@charset "UTF-8";
/* 作成者：荒牧直矢 */
/* 作成日：2022/09/21 */
/* 最終更新日：2022/09/27 */

article {
    margin-top: 153px;
}

article > p {
    margin-bottom: 20px;
}

section img {
    width: 250px;
    height: 175px;
}
    
figcaption {
    text-align: center;
}

section .flex {
    margin-bottom: 20px;
}

.flex section {
    width: 470px;
    padding-top: 20px;
}

.flex h4 {
    color: #080;
    margin-bottom: 20px;
}

section table {
    width: 450px;
    border-collapse: collapse;
    margin-bottom: 15px;
}

td {
    border: 1px solid #999;
    padding: 10px;
    box-sizing: border-box;
}

article > section > p {
    margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
    article {
        margin-top: 133px;
    }

    article > section {
        margin-bottom: 50px;
    }

    section .flex {
        justify-content: space-around;
    }

    .flex section {
        width: 300px;
    }

    section table,
    article > section > p {
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    article {
        margin-top: 70px;
    }

    section .flex {
        display: block;
    }

    section img {
        display: block;
        margin: 0 auto;
    }

    .flex h4 {
        text-align: center;
        margin-bottom: 10px;
    }

    .flex section {
        width: 100%;
    }

    .flex section p {
        text-align: center;
    }

    section table {
        width: 100%;
        margin: 0 auto 15px;
        max-width: 450px;
    }

    article > section > p {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}